<div data-role="view" data-title="Log In" data-layout="main" data-model="app.loginModelView"
     data-show="app.loginModelView.onShow" data-after-show="app.loginModelView.afterShow"
     id="loginModelViewScreen" class="screen">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <!--<label>Username:<input type="text" name="username" data-bind="value: username"></label>-->
                <label>
                    Email Address:<input type="text" name="username" data-bind="value: username">
                </label>
            </li>
            <li>
                <label>
                    Password:<input type="password" name="password" data-bind="value: password">
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: submit">SIGN IN</button>
            </li>
        </ul>
    </form>
    <div style="text-align:center; padding-top:25px">
        <a href="#register">Don't have a Air2U Account? Register for FREE!</a>
    </div>
    <div style="text-align:center; padding-top:25px">
        <a href="#password">Forgot Password?</a>
    </div>
    <!-- START_CUSTOM_CODE_loginModelView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- Todo... -->
    <!-- END_CUSTOM_CODE_loginModelView -->
</div>
<div data-role="view" id="register" data-title="Register" data-model="app.registerView" >
    <div data-role="navbar">
        <a href="#loginModelViewScreen" data-align="left" data-role="button">Back</a>
        <span data-role="view-title">

        </span>
    </div>
    <form>
        <ul data-role="listview" data-style="inset">
            <!--<li><label>Email Address:<input type="email" name="email" data-bind="value: email"></label></li>-->
            <li>
                <label>
                    Email Address:<input type="text" name="username" data-bind="value: username">
                </label>
            </li>
            <li>
                <label>
                    Password:<input type="password" name="password" data-bind="value: password">
                </label>
            </li>
            <!--<li><label>Introducer Name:<input type="text" name="introducername" data-bind="value: introducername" placeholder="Optional"></label></li>-->
            <!--<li><label>Introducer Contact:<input type="text" name="introducercontact" data-bind="value: introducercontact" placeholder="Optional"></label></li>-->
            <li>
                <label>
                    Introducer Email:<input type="email" name="introduceremail" data-bind="value: introduceremail" placeholder="Optional">
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: submit">Register</button>
            </li>
        </ul>
    </form>
</div>
<div data-role="view" id="password" data-title="Reset Password" data-model="app.passwordView">
    <div data-role="navbar">
        <a href="#loginModelViewScreen" data-align="left" data-role="button">Back</a>
        <span data-role="view-title"></span>
    </div>
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Email Address:<input type="email" name="email" data-bind="value: email">
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: submit">Reset</button>
            </li>
        </ul>
    </form>
</div>
<div data-role="view" id="userinfo" data-model="app.userinfoView" data-title="Welcome to Air2U!">
    <div data-role="navbar">
        <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        <a data-role="button" href="#loginModelViewScreen" data-align="right" data-bind="click: logout">Logout</a>
        <span data-role="view-title"></span>
    </div>
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label data-bind="text: strings.loginModelView.welcome_name"></label>
                </br>
                <label data-bind="text: strings.loginModelView.welcome_value"></label>
            </li>
        </ul>
    </form>
</div>