<div data-role="view" data-title="Details" data-model="app.productListView.productListViewModel" data-bind="events: { show: imgShow }" id="productListViewModelScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </header>
    <div style="width: 100%; height: 100%">
        <img id = 'bigImg'>
    </div>

    <!-- START_CUSTOM_CODE_aboutUsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_aboutUsView -->
</div>