<div data-role="view" data-title="Details" data-model="app.orderDetailView.orderDetailViewModel" data-bind="events: { show: detailsShow }" id="orderDetailViewModelScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <a data-role="button" data-click="backToHome" data-align="left" data-icon="home"></a>
            <span data-bind="text: currentItem['ProductName']"></span>
            <a data-role="button" data-click="showAllCarts" data-align="right" data-icon="cart"></a>
            <script>
                $("[data-click=showAllCarts]").click(function() {
                    app.mobileApp.navigate('components/shoppingCartView/view.html');
                });
                $("[data-click=backToHome]").click(function() {
                    app.mobileApp.navigate('components/home/view.html');
                });
            </script>
        </div>
        <style>
            #wrap ul,
            #wrap li {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            #wrap {
                width: 300px;
                height: 200px;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
            }

            #wrap li {
                float: left;
            }

            #tips li {
                margin: 5px;
                border: 1px solid #f60;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                color: white;
                cursor: pointer;
            }

            .active {
                background: #f60;
            }

            /*img {*/
            /*vertical-align: top;*/
            /*width: 300px;*/
            /*height: auto;*/
            /*}*/

            #content {
                /*width: 1800px;*/
                position: absolute;
                /*left: -900px;*/
            }

            #content li {
                float: left;
            }

            #tips {
                position: absolute;
                right: 20px;
                bottom: 5px;
            }
        </style>
    </header>

    <div class="details-content screen__content screen__content--details">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li><div data-bind="text: currentItem.ProductName"></div></li>
                <li style="width: 100%">
                    <div id="wrap" style="width: 300px">
                        <ul id="content">
                            <div id="gallery">
                            </div>
                        </ul>
                        <ul id="tips">
                        </ul>
                    </div>
                    <script>
                        var wrap = document.getElementById('wrap');
                        var content = document.getElementById('content');

                        var timer = setInterval(app.orderDetailView.orderDetailViewModel.autoPlay, 2000);
//                        wrap.onclick = function () {
//                            if (open) {
//                                app.mobileApp.navigate('components/orderDetailView/bigImage.html');
//                            }
//                        }
                    </script>
                </li>
                <li>
                    <table width="100%">
                        <tr >
                            <td colspan = "2" >
                                <h4>Purchase with Airpoint and Cash:</h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <h4>Price: RM<text data-bind="text: currentItem.cvPrice"></text></h4>
                            </td>
                            <td>
                                <h4>Air pt: <text data-bind="text: currentItem.pvPrice"></text></h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Stock: <text data-bind="text: currentItem.QTY"/></h4>
                            </td>
                            <td>
                                <h4>Qty: <input style="top: inherit;text-align: center; margin-right: 50px; width: 50px; margin-top: 9px" type="text" name="qtyField" id="qtyField" value="1" pattern="[0-9]" maxlength="4" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,''")/></h4>
                            </td>
                            <td align="right">
                                <img src="resources/shopping_cart.png" width="30px" height="30px"
                                     data-align="right" data-click="addtocart">
                                <script>
                                    var el = app.data.backendServices;

                                    $("[data-click=addtocart]").click(function() {
                                        if (checkSubmitFlag==false) {
                                            checkSubmitFlag = true;
                                            var qty = parseInt(document.getElementById("qtyField").value);
                                            var stock = parseInt(app.orderDetailView.orderDetailViewModel.get("currentItem.QTY"));
                                            if (qty > stock) {
                                                checkSubmitFlag = false;
                                                alert('Out of stock！');
                                                document.getElementById("qtyField").value = stock;
                                            } else if (qty < 1) {
                                                checkSubmitFlag = false;
                                                alert('Qty cannnot be 0！');
                                            } else {
                                                if (app.currentUser.Id != "") {
                                                    var productId =
                                                        app.orderDetailView.orderDetailViewModel.get("originalItem.Id");
                                                    var userId = app.currentUser.Id;
                                                    var cartData = el.data('ProductCart');
                                                    var query = new Everlive.Query();
                                                    query.where().eq('productId', productId).eq('userId', userId);
                                                    cartData.get(query).then(function (data) {
                                                        if (data["count"] > 0) {
                                                            var nqty = data["result"][0].qty + qty;
                                                            cartData.updateSingle({
                                                                    Id: data["result"][0].Id,
                                                                    'qty': nqty
                                                                },
                                                                function (data) {
                                                                    checkSubmitFlag = false;
                                                                    alert('Add to cart successfully!');
                                                                },
                                                                function (error) {
                                                                    checkSubmitFlag = false;
                                                                    alert('Fail to add to cart!');
                                                                });
                                                        } else {
                                                            cartData.create({
                                                                    'productId': productId,
                                                                    'qty': qty,
                                                                    'userId': userId,
                                                                    'product': productId
                                                                },
                                                                function (data) {
                                                                    checkSubmitFlag = false;
                                                                    alert('Add to cart successfully!');
                                                                },
                                                                function (error) {
                                                                    checkSubmitFlag = false;
                                                                    alert('Fail to add to cart!');
                                                                });
                                                        }
                                                    });
                                                } else {
                                                    checkSubmitFlag = false;
                                                    alert("You do not login,Please login first.");
                                                    setTimeout(function () {
                                                        app.mobileApp.navigate('components/loginModelView/view.html');
                                                    }, 10);
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "2">
                                <p style="padding: 0px">Purchase this product and earn <b><text data-bind="text: earnPoints"></text></b> Airpoint now!</p>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h4>Description</h4>
                    <div name="produceDesc" style="font-size: 14px" data-bind="text: productDesc"></div>
                </li>
                <li><h4>Specification</h4>
                    <div name="produceDesc" style="font-size: 14px" data-bind="text: currentItem.ProductSpecifications"/>
                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_orderDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_orderDetailViewModel -->
</div>