<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.orderDetailView" data-show="app.orderDetailView.onShow" data-after-show="app.orderDetailView.afterShow" id="orderDetailViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span>Purchase History Detail</span>

            <a data-role="backbutton" data-align="left">Back</a>
            <a data-role="button" id="checkoutBtn" data-click="opencheckout" data-align="right">Checkout</a>
            <script>
                $("[data-click=opencheckout]").click(function() {
                    var orderData = el.data('Order');
                    var query = new Everlive.Query();
                    query.where().eq('Id', orderID);
                    orderData.get(query).then(function (data) {
                        if (data["count"] > 0) {
                            var item = data["result"][0];
                            var query = 'orderId=' + orderID
                                    + '&orderNumber=' + item["OrderNumber"]
                                + '&price=' + item["totalPrice"]
                                + '&point=' + item["totalPV"]
                                + '&gotPoint=' + item["Point"];
                            console.log("query: " + query);
                            app.mobileApp.navigate("components/checkoutView/view.html?" + query);
                        }
                    });
//                    app.mobileApp.navigate('components/checkoutView/view.html?orderId='+orderID);
                });
            </script>
        </div>
    </header>


    <!-- START_CUSTOM_CODE_orderDetailView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_orderDetailView -->
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="orderDetailViewModelTemplate" data-bind="source: orderDetailViewModel.dataSource, events: {click: orderDetailViewModel.itemClick}" data-pull-to-refresh="true"
        data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_orderDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_orderDetailViewModel -->
    <script type="text/x-kendo-template" id="orderDetailViewModelTemplate">
        <div class="image-with-text" style="height: 100px">
            # data = app.orderDetailView.orderDetailViewModel.fixHierarchicalData(data); #
            <img style="height: auto; width:auto; max-height: 100px; max-width: 80px; vertical-align: middle" src="#: data['ProductImagesUrl'] #" onerror="this.src='resources/default.png'">
            <div style="font-size: 18px; margin-left: 100px">
                <p style="max-height: 38px;text-overflow:ellipsis; overflow: hidden;"><b>#: data['Product'].ProductName #</b></p>
                # if (data['Product'].pvPrice > 0) { #
                <p>Air pt: #:data['Product'].pvPrice #</p>
                #}#
                # if (data['Product'].cvPrice > 0) { #
                <p>Cash: RM#: data['Product'].cvPrice #</p>
                #}#
                <p>Qty: #: data['OrderQTY'] #</p>
            </div>
        </div>
    </script>
</div>