<style>

    /*  margin: 5px 15px 0px 20px  top right bottom left*/
    .imgstyle {
        display: inline-block;
        margin: 0px 15px 0px 20px;
        border: 1px solid #ccc;
        vertical-align: middle;
        text-align: center;
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }

    .teamMate {
        text-align: center;
    }

    .yj {
        padding: 10px;
        width: 100%;
        height: auto;
        border: 2px solid #c7c8cd;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

</style>

<div data-role="view" data-title="View" data-layout="main" data-model="app.myProfileView"
     data-show="app.myProfileView.onShow" data-after-show="app.myProfileView.afterShow" id="myProfileViewScreen"
     class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.myProfileView.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <button data-role="button" data-align="right" data-bind="click: editprofile" id="rightview"
                    name="rightview"></button>
        </div>
    </header>

    <div style="padding: 10px;/*background-image: url(/resources/infobg.png);*/background-color: #f5907c">
        <div class="teamMate">
            <img src="/resources/head.png" name="userheadview" data-bind="value:userhead" id="userheadview"
                 class="imgstyle">
        </div>
        <div class="teamMate">
            <input style="width: 100%;background: none;color: white;border: none;font-size: 18px;text-align: center"
                   type="text" id="usernameinfo" name="usernameinfo" data-bind="value: usernameinfo"/>
        </div>
        <div  >
            <a href="#myloyaltypoint"  >
                <div  style=" vertical-align: middle; text-align: center;">
                    <span id="layout_point" name="layout_point" style="color: white;font-size: 18px;"></span>
                    <img src="/resources/go_to_point_page.png" style="width: 30px;height: 30px;">
                </div>
            </a>

            <!--<button style="width: 47%;background: none;color: white;border: none;height: 20px;font-size: 18px;"
                    data-role="button" data-bind="click: viewpoint">View Loyalty Point
            </button>-->
        </div>

    </div>

    <div>
        <ul data-role="listview">
            <!--<li style="height: 30px">
                <label for="usernameinfo" style="color: black;">Username</label>
                <input type="text" id="usernameinfo"  style="color: grey;margin-top: 10px"/>
            </li>-->
            <li>
                <label for="emailinfo" style="color: black;font-size: 18px">Email:</label>
                <input type="text" id="emailinfo" name="emailinfo" data-bind="value: emailinfo"
                       style="color: grey;width: 75%;font-size: 18px"/>
            </li>
            <li>
                <label for="state" style="color: black;font-size: 18px">State:</label>
                <input type="text" id="state" name="state" data-bind="value: state"
                       style="color: grey;width: 75%;font-size: 18px"/>
            </li>
            <li>
                <label for="phone" style="color: black;font-size: 18px">Phone:</label>
                <input id="phone" name="phone" data-bind="value: phone" type="tel"
                       style="color: grey;width: 75%;font-size: 18px"/>
            </li>
            <li>
                <label for="card" style="color: black;font-size: 18px">Card:</label>
                <input id="card" name="card" data-bind="value: card" type="tel"
                       style="color: grey;width: 75%;font-size: 18px"/>
            </li>
            <!-- <li>
                 <label for="status" style="color: black;font-size: 18px">Status:</label>
                 <input id="status" name="status" data-bind="value: status" type="tel"
                        style="color: grey;width: 75%;font-size: 18px"/>
             </li>-->

            <li id="introduceName">
                <label for="introduce_name" style="color: black;font-size: 18px">Introducer Name:</label>
                <input id="introduce_name" name="introduce_name" data-bind="value: introduce_name" type="text"
                       style="color: grey;width: 50%;font-size: 18px"/>
            </li>

            <li id="introduceContact">
                <label for="introduce_contact" style="color: black;font-size: 18px">Introducer Contact:</label>
                <input id="introduce_contact" name="introduce_contact" data-bind="value: introduce_contact" type="tel"
                       style="color: grey;width: 50%;font-size: 18px"/>
            </li>
            <li id="introduceEmail">
                <label for="introduce_email" style="color: black;font-size: 18px">Introducer Email:</label>
                <input id="introduce_email" name="introduce_email" data-bind="value: introduce_email" type="text"
                       style="color: grey;width: 50%;font-size: 18px"/>
            </li>


            <li data-bind="click: addressdetail">
                <label for="defaultaddress" id="addresslabel" name="addresslabel" style="color: black;font-size: 18px">Address:</label>
                <textarea id="defaultaddress" name="defaultaddress" data-bind="value: defaultaddress" rows="1"
                          type="text" style="color: grey;font-size: 18px"></textarea>
            </li>


        </ul>
    </div>


    <!--<button id="save" style="width:100%; height:30px;margin-left:10px;margin-right:10px;" data-bind="click:saveprofile">Save</button>-->

</div>


<div data-role="view" id="myloyaltypoint" data-title="My Profile" data-model="app.myloyaltypointView"
     data-show="app.myloyaltypointView.onShow" data-after-show="app.myloyaltypointView.afterShow">
    <div data-role="navbar">
        <a href="#myProfileViewScreen" data-align="left" data-role="button">Back</a>
        <span data-role="view-title"></span>
        <button data-role="button" data-align="right" data-bind="click: buyproduct" id="buyproduct"
                name="buyproduct">Buy
        </button>
    </div>
    <div>
        <h1 style="text-align: center"><strong>My Loyalty Point</strong></h1>

    </div>
    <div style="margin-top: 30px;text-align: center;margin-bottom: 30px">
        <img id="barcode4" class="yj"/>
    </div>

    <!-- <div style="vertical-align: middle">
         <div id="qrcode" ></div>
     </div>-->

    <div style="margin-top: 20px;margin-left: 20px">
        <ul data-role="listview">
            <li>
                <label for="current_point" style="color: black;font-size: 18px">Current point standing:</label>
                <input type="text" id="current_point" name="current_point" data-bind="value: current_point"
                       style="color: grey;width: 40%;font-size: 18px"/>
            </li>

            <li>
                <label for="last_awarded" style="color: black;font-size: 18px">Last awarded point:</label>
                <input type="text" id="last_awarded" name="last_awarded" data-bind="value: last_awarded"
                       style="color: grey;width: 40%;font-size: 18px"/>
            </li>
        </ul>
    </div>
</div>

<!-- START_CUSTOM_CODE_myProfileViewModel -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

<!-- END_CUSTOM_CODE_myProfileViewModel -->