<div data-role="view"
     data-title="View"
     data-after-show="app.checkoutView.onPaymentShow"
     id="paymentScreen"
     class="screen">
	 <div data-role="navbar" class="header-text">
		 <a data-role="button" data-click="molpayToCart" data-align="left" data-icon="cart"></a>
		 <span>MOLPay</span>
	 </div>
    <div id="molpay" class="molpay" style="width: 100%; height: 100%;"/>
	 <script>
        $("[data-click=molpayToCart]").click(function() {
            app.mobileApp.navigate('components/shoppingCartView/view.html');
        });
    </script>
</div>