<style>
    .left {
        list-style-type: none;
        font-size: 25px;
        color: black;
        margin-top: 20px;
        margin-left: 0;

    }
</style>


<div data-role="view" data-title="View" data-layout="main" data-model="app.checkoutView"
     data-show="app.checkoutView.onShow"
     data-after-show="app.checkoutView.afterShow" id="checkoutViewScreen" class="screen">

    <div id="checkoutViewModel" class="form-view screen__content screen__content--form add-item-view">
        <form style="font-size: 16px;">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <div id="shoppingcartField" class="field field--image imageListItem km-label-above">
                        <img src="resources/shopping_cart.png" style="float: left;">
                        <div style="margin-top: 15px;margin-left: 20px;">
                            <h1 style="float: left;margin-left: 20px;color: black;">My Total: </h1>
                            <h1 style="float: right;margin-right: 20px;color: black;" name="total-price"
                                id="total-price"></h1></div>

                    </div>
                </li>
                <!-- <li>
                     <div style="padding-right:20px"><input type="checkbox" name="vehicle" value="Bike" checked="checked"
                                                            style="float: left;position: inherit;margin-right: 20px;"/>
                         <h3>Use available point 25,000</h3></div>
                 </li>-->
                <li>
                    <div>
                        <h2 style="float: left;margin-left: 10px;color: black;">Use Loyalty Point: </h2>
                        <h2 style="float: right;margin-right: 10px;color: black;" name="total-point" id="total-point">
                            999</h2></div>

                </li>

                <!--<li>
                    <h3 style="color: black;">Use available point 25,000</h3>
                    <input id="usepoint-switch"/>
                </li>-->

                <!--  <li>
                      &lt;!&ndash;<div><h3>Pay with Card</h3></div>
                      <select style="font-size: 20px;float: left;width: 45%;color: #626576" >
                          <option value="Select card to pay" selected="selected" >Select card to pay</option>
                          <option value="volvo" >Volvo</option>
                          <option value="saab" >Saab</option>
                          <option value="opel">Opel</option>
                          <option value="audi">Audi</option>
                      </select>&ndash;&gt;


                      <h3 style="margin-bottom: 40px;color: black;">Pay with Card</h3>
                  <select id="selectcard" style="width: 97%;margin-top: 30px;color: black;font-size: 23px;margin-bottom: 10px">
                      <option value="Select card to pay" selected="selected">Select card to pay</option>
                      <option value="volvo">6228480402564890018</option>
                      <option value="saab">6228480402564890019</option>
                      <option value="opel">6228480402564890013</option>
                      <option value="audi">6228480402564890017</option>
                  </select>
                  </li>-->
                <li style="list-style-type: none;font-size: 25px;color: black;margin-top: 20px">
                <span><label style="color: black">Tax:</label>
            <input style="float: right;margin-right: 20px" type="checkbox" name="send_message_item"/>
        </span>
                </li>
            </ul>

            <ul>

                <li style="list-style-type: none;font-size: 25px;color: black;margin-top: 20px">
                    <div style="margin-bottom: 20px;">
                        <h3 style="color: black;">Shipping Method</h3>
                    </div>
                    <input type="radio" name="pay-for-e-bank"
                           style="float: left;position: inherit;margin-right: 20px;"/>
                    <h3 style="color: black;">Maybank2U</h3>
                    <input type="radio" name="pay-for-e-bank"
                           style="float: left;position: inherit;margin-right: 20px;"/>
                    <h3 style="color: black;">HLB Online</h3>
                    <input type="radio" name="pay-for-e-bank"
                           style="float: left;position: inherit;margin-right: 20px;"/>
                    <h3 style="color: black;">PBOnline</h3>
                </li>
            </ul>


        </form>
        <div class="button-group" style="margin-top: 25%">
            <a data-role="button"
               data-bind="events: { click: checkoutViewModel.cancel }, buttonText: strings.checkoutView.checkoutViewModel.cancelButton"></a>
            <a class="primary" data-role="button"
               data-bind="events: { click: checkoutViewModel.submit }, buttonText: strings.checkoutView.checkoutViewModel.submitButton"></a>
        </div>

    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-bind="text: strings.checkoutView.title"></span>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"data-icon="drawer-button"></a>-->
            <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </header>


    <script>
        $(function () {
            $("#usepoint-switch").kendoMobileSwitch({});
        });
    </script>
</div>