<style>
    .left {
        list-style-type: none;
        font-size: 25px;
        color: black;
        margin-top: 20px;
        margin-left: 0;

    }
</style>

<div data-role="view" data-title="View" data-layout="main" data-model="app.checkoutView"
     data-show="app.checkoutView.onShow"
     data-after-show="app.checkoutView.afterShow" id="checkoutViewScreen" class="screen">

    <div id="checkoutViewModel" class="form-view screen__content screen__content--form add-item-view">
        <form style="font-size: 16px;">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <!--<div id="shoppingcartField" class="field field&#45;&#45;image imageListItem km-label-above">-->
                        <!--<img src="resources/shopping_cart.png" style="float: left;">-->
                        <div style="margin-top: 15px;">
                            <h2 style="float: left;margin-left: 2px;color: black;">My Total: </h2>
                            <h2 style="float: right;margin-right: 2px;color: black;" name="total-price"
                                id="total-price"></h2></div>

                    <!--</div>-->
                </li>
                <li>
                    <div>
                        <h2 style="float: left;margin-left: 2px;color: black;">Tax: </h2>
                        <h2 style="float: right;margin-right: 2px;color: black;" name="tax" id="tax"></h2>
                    </div>

                </li>
                <li>
                    <div>
                        <h2 style="float: left;margin-left: 2px;color: black;">Use Loyalty Airpoint: </h2>
                        <h2 style="float: right;margin-right: 2px;color: black;" name="total-point" id="total-point"></h2>
                    </div>

                </li>

                <li>
                    <div>
                        <h2 style="float: left;margin-left: 2px;color: black;">Earn Airpoint: </h2>
                        <h2 style="float: right;margin-right: 2px;color: black;" name="earn-point" id="earn-point"></h2>
                    </div>

                </li>
               <!-- <li>
                    <div >
                        <h2 style="float: left;margin-left: 10px;color: black;">Shipping Fees: </h2>
                        <h2 style="float: right;margin-right: 10px;color: black;" name="shippingfees" id="shippingfees" data-bind="text: shippingfees"></h2>
                    </div>

                </li>-->
                <li >
                    <select style="font-size: 25px;float: left;color: black;width: 100%; padding-left: 15px;" id="selectlink" name="selectlink">
                    </select>

                </li>
                <li style="list-style-type: none;font-size: 25px;color: black;margin-top: 20px;margin-right: 20px">
                    <label for="defaultaddress" id="addresslabel" name="addresslabel" style="color: black;font-size: 25px">Address:</label>
                    <textarea id="defaultaddress" name="defaultaddress" data-bind="value: address" rows="3"
                              type="text" style="color: black;font-size: 25px"></textarea>
                </li>

            </ul>

        </form>
        <div class="button-group" style="margin-top: 25%">
            <a data-role="button"
               data-bind="events: { click: checkoutViewModel.cancel }, buttonText: strings.checkoutView.checkoutViewModel.cancelButton"></a>
            <a class="primary" data-role="button"
               data-bind="events: { click: checkoutViewModel.submit }, buttonText: strings.checkoutView.checkoutViewModel.submitButton"></a>
        </div>
    </div>


    <!--<header data-role="header">-->
        <!--<div data-role="navbar" class="header-text"><span data-bind="text: strings.checkoutView.title"></span>-->
            <!--&lt;!&ndash;<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"data-icon="drawer-button"></a>&ndash;&gt;-->
            <!--<a data-role="backbutton" data-align="left">Back</a>-->
        <!--</div>-->
    <!--</header>-->
    <script>
        $(function () {
            $("#usepoint-switch").kendoMobileSwitch({});
        });
    </script>
</div>