.paddingTop20 {
	padding-top: 20px;
}

.paddingTop30 {
	padding-top: 30px;
}

.paddingTop15 {
	padding-top: 18px;
}

.paddingTop25 {
	padding-top: 25px;
}

.paddingBottom20 {
	padding-bottom: 20px;
}

.cursorPointer {
	cursor: pointer;
}

@media ( min-width : 768px) {
	.modal-dialog-or {
		width: 600px;
		margin: 10px auto;
	}
}

.errorTip {
	color: #a94442;
	font-size: 12px;
}

.errorTip4RulePoint {
	color: #a94442;
	font-size: 14px;
}

.displayNone {
	display: none;
}

.displayBlock {
	display: block;
}

.required-star-tip {
	color: #a94442;
	padding-left: 5px;
}

.alertWarnningColor {
	color: #286090;
}

.topNavigationBG {
	background-color: #286090;
	min-width: 1650px;
}

.topNavigationBG .topMenuBG .topmenA {
	color: #fff;
}

.topNavigationBG .topMenuBG .topmenA:hover, .topNavigationBG .topMenuBG .topmenA:focus
	{
	color: #286090;
	background-color: #c1e2b3;
}

.datePickerStyles {
	position: relative !important;
}

#page-wrapper-balance {
	padding: 0 15px;
	min-height: 568px;
	background-color: white;
}

@media ( min-width : 768px) {
	#page-wrapper-balance {
		position: inherit;
		margin: 0 250px 0 250px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

.notReadBg {
	background-color: #5cb85c !important;
}

.textalign {
	text-align: center;
}

/**Product and Category CSS**/
@media ( min-width : 1024px) {
	.modal-dialog-product {
		width: 800px;
		margin: 20px auto;
	}
}

.form-group-product {
	margin-bottom: 5px !important;
}

.product-btn {
	margin: 0px 20px 0px 0px;
}

.form-content-product {
	margin: 0px 20px 0px 20px;
}

@media ( min-width : 1024px) {
	.modal-dialog-tree {
		width: 300px;
		margin: 200px auto;
	}
}

.warning-info-text {
	text-align: center;
	padding: 25px !important;
}

.category-btn {
	margin: 0px 20px 0px 0px;
}

.form-content-category {
	margin: 0px 20px 0px 20px;
}
/**Product CSS**/

/**Left nav CSS**/
.side-menu-hidden {
	display: none;
}

.side-menu-show {
	
}

.btn-orange {
	background-color: #e0c389;
	/*     border-color: #F7E7CE; */
	color: #fff;
}

.btn-orange:HOVER {
	background-color: #fbd2b2;
	border-color: #F7E7CE;
	color: #fff;
}

.btn-orange:active:hover, .btn-orange.active:hover, .open>.dropdown-toggle.btn-orange:hover,
	.btn-orange:active:focus, .btn-orange.active:focus, .open>.dropdown-toggle.btn-orange:focus,
	.btn-orange.focus:active, .btn-orange.active.focus, .open>.dropdown-toggle.btn-orange.focus
	{
	background-color: #e0c389;
	border-color: #F7E7CE;
	color: #fff;
}

.btn-orange:focus, .btn-orange.focus {
	background-color: #e0c389;
	border-color: #F7E7CE;
	color: #fff;
}

.page-header {
	color: #286090;
}

/* .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #e0c389;
    border-color: #e0c389;
    color: #fff;
    cursor: default;
    z-index: 3;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #e0c389;
    cursor: not-allowed;
} */

/* tax rate CSS**/
/* .errorTip-tax {
    color: #a94442;
    font-size: 12px;
    margin-bottom: 12px;
} 

.input-tax {
 text-align: right;
 }
.cancel-btn {
 	margin-left: 12px
 }
 .minWidth150{
 	min-width:150px;
 }
 
tax rate CSS


.panel .panel-default{
	min-width: 1000px !important;
}

.customer-user-list{
	max-height:200px;
	OVERFLOW: auto; 
	width:100%;
	margin-top: -1px;
}

.li-cs{
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 15px;
}

.high-light {
	background-color: #E6E6E6;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: left !important;
    list-style: none;
    padding-top: -10px;
    margin-top: 0px !important;
}
  
  .upload-style {
		border: 1px solid #ccc;
		border-radius: 3px;
		height: 130px;
		width: 130px;
		line-height: 34px;
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
		display: inline-block;
		margin-right: 10px;
	}
	.upload-style input {
		width: 130px;
        height: 130px;
        position: absolute;
        top: 0;
        opacity: 0;
	}
	.upload-text:before {
		content: '';
		background: url(../img/img.svg) no-repeat;
		background-color: #f5f5f5;
		background-position: 50% 40%;
		background-size: 32px 32px;
		width: 130px;
		height: 130px;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
	}
	.upload-text:after {
        content: 'Click And Upload';
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 0;
        font-size: 12px;
        text-align: center;
        color: #bfbfbf;
    }

    .upload-icon {
    	display: inline-block;
	    width: 130px;
	    height: 130px;
	    border: 1px solid #ccc;
	    overflow: hidden;
	    text-align: center;
	    line-height: 130px;
	    box-sizing: border-box;
	    font-size: 32px;
	    color: #ccc;
    } */
html, body {
	padding: 0;
	margin: 0;
}

.upload-group {
	font-size: 0
}

.upload-style {
	border: 1px solid #e4d8d8;
	border-radius: 3px;
	height: 130px;
	width: 130px;
	line-height: 34px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 15px;
}

.upload-style input {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 0;
	opacity: 0;
}

.upload-style2 {
	border: 1px solid #e4d8d8;
	border-radius: 3px;
	height: 130px;
	width: 130px;
	line-height: 34px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 15px;
}

.upload-style2 input {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 0;
	opacity: 0;
}

.upload-text:before {
	content: '';
	background: url(../img/img.svg) no-repeat;
	background-color: #f5f5f5;
	background-position: 50% 40%;
	background-size: 32px 32px;
	width: 130px;
	height: 130px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.upload-text:after {
	content: 'Click And Upload';
	position: absolute;
	bottom: 5px;
	right: 0;
	left: 0;
	font-size: 12px;
	text-align: center;
	color: #bfbfbf;
}

.upload-icon {
	display: inline-block;
	width: 130px;
	height: 130px;
	border: 1px solid #ccc;
	overflow: hidden;
	text-align: center;
	line-height: 130px;
	box-sizing: border-box;
	font-size: 40px;
	color: #ccc;
	margin-bottom: 15px;
}

.entity {
	position: absolute;
	background: rgba(90, 89, 81, 0.3);
	width: 130px;
	height: 130px;
	left: 0;
	top: 0;
}

.view {
	font-size: 12px;
	position: absolute;
	top: 30%;
	left: 50%;
	text-decoration: none;
	transform: translate(-50%, -50%);
	padding: 8px;
	background: #2196f3 !important;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	line-height: 16px;
	width: 48px;
	padding-left: 10px;
}

.delete {
	font-size: 12px;
	position: absolute;
	top: 70%;
	left: 50%;
	text-decoration: none;
	transform: translate(-50%, -50%);
	padding: 8px;
	background: #f00;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	line-height: 16px;
}

.a.he_border1_img {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-width: 100vw;
	max-height: 100vh;
}

img {
	padding: 5px;
	width: 100px;
	height: auto;
}

#outer {
	width: 100%;
	height: 100%;
}

.overlay {
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity = 70);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.overlayimg {
	position: absolute;
	z-index: 11;
	left: 50px;
	top: 30px;
	width: auto;
}

.show-image {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(99, 87, 87, 0.3);
	z-index: 100;
	top: 0;
	left: 0;
}

.show-image2 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(99, 87, 87, 0.3);
	z-index: 100;
	top: 0;
	left: 0;
}

#show {
	width: 25%;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}

#show2 {
	width: 25%;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}

.customer-user-list{
	width: 100%;
    overflow: auto;
    height: 200px;
}

.ic {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.opc {
	opacity: .6;
	color: #fff;
	cursor: pointer;
	-webkit-transition: .5s;
	z-index: 100;
}

.entity {
	display: none;
}

.img-style {
	width: 130px;
	height: 130px;
}

.form-style{
	padding-top: 20px;
	padding-right: 30px;
    /* padding-left: 20px; */
    /* right: 0; */
    text-align: right;
}